<footer class="container-fluid bg-dark align-items-center">
  <div class="d-flex justify-content-between">
    <a href="" class="text-xs col-6">Contacts : +237777777777</a>
    <a href="" class="text-xs col-6">A propos de nous</a>
  </div>
  <hr>
  <p style="color: white;">Réseaux sociaux</p>
  <div class="row justify-content-around">
    <a href="#" class="fa fa-facebook rounded-circle"></a>
    <a href="#" class="fa fa-twitter rounded-circle"></a>
    <a href="#" class="fa fa-whatsapp rounded-circle"></a>
  </div>
  <br>
    <div class="row align-items-center text-xs justify-content-center">
      <a class="fa fa-google rounded-circle mr-2 gmail"></a>
      <span style="color: white;">kifipay@gmail.com</span>
  </div>

</footer>
